<app-sidebar></app-sidebar>
<div class="container">
  <div class="row id-title">
    <div class="edit-profile col mt-5">
      <div class="text-center">
        <span><h1>Creacion de Quiz</h1></span>
      </div>
    </div>
  </div>
  <form
    [formGroup]="triviaForm"
    class="card p-3">
    <h3>Trivia</h3>
    <label class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      formControlName="nombre" />
    <div
      *ngIf="
        triviaForm.controls['nombre'].errors &&
        triviaForm.controls['nombre'].touched
      "
      class="alert alert-danger mt-2"
      role="alert">
      Es requerido el nombre
    </div>
    <label class="form-label">Descripción</label>
    <input
      type="text"
      class="form-control"
      formControlName="descripcion" />
    <div
      *ngIf="
        triviaForm.controls['descripcion'].errors &&
        triviaForm.controls['descripcion'].touched
      "
      class="alert alert-danger mt-2"
      role="alert">
      Es requerido la descripción
    </div>
    <button
      class="btn btn-success"
      (click)="agregarPregunta()">
      Agregar Pregunta
    </button>
    <div
      formArrayName="preguntas"
      class="card p-2 m-2">
      <h4 *ngIf="preguntas().controls.length == 0">No hay preguntas</h4>
      <div *ngFor="let pregunta of preguntas().controls; let indexPreg = index">
        <div [formGroupName]="indexPreg">
          <h3>Pregunta {{ indexPreg + 1 }}</h3>
          <label class="form-label">Leyenda</label>
          <input
            type="text"
            class="form-control"
            formControlName="leyenda" />
          <label class="form-label">Tipo de Pregunta</label>
          <select
            formControlName="tipoDePregunta"
            class="form-select">
            <option
              selected
              value="">
              Seleccione el tipo de pregunta
            </option>
            <option *ngFor="let tipo of tipoDePregunta">{{ tipo }}</option>
          </select>
          <button
            class="btn btn-danger"
            (click)="eliminarPregunta(indexPreg)">
            Eliminar Pregunta
          </button>
          <button
            class="btn btn-success"
            (click)="agregarOpcion(indexPreg)">
            Agregar Opción
          </button>

          <h4 *ngIf="opciones(indexPreg).controls.length == 0">
            No hay opciones
          </h4>
          <div formArrayName="opciones">
            <div
              class="card p-2 m-2"
              *ngFor="
                let opcion of opciones(indexPreg).controls;
                let indexOpc = index
              ">
              <h3>Opción {{ indexOpc + 1 }}</h3>
              <div [formGroupName]="indexOpc">
                <label class="form-label">Descripción</label>
                <input
                  type="text"
                  formControlName="descripcion" />
                <select
                  formControlName="esCorrecta"
                  class="form-select">
                  <option
                    selected
                    value="">
                    Seleccione si es correcta o no
                  </option>
                  <option value="true">Correcta</option>
                  <option value="false">Incorrecta</option>
                </select>
                <button
                  class="btn btn-danger"
                  (click)="eliminarOpcion(indexPreg, indexOpc)">
                  Eliminar Opción
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="btn btn-success"
      (click)="crearTrivia()"
      [disabled]="triviaForm.invalid">
      Crear trivia
    </button>
  </form>

  <pre>{{ triviaForm.value | json }}</pre>
</div>
