<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="container">
    <div class="row id-title">
        <div class="edit-profile col mt-5">
            <div class="text-center">
                <span><h1>Creacion de Quiz</h1></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1 mt-5 mb-5" style="background-color: #671073; border-radius: 15px"></div>
        <div class="col-11">
            <div class="mb-5 mt-5">
                <div class="row justify-content-between">
                    <!-- <div class="card-quiz-border col-3 " style="background-color:#1A0537 ; ">
                    </div> -->
                    <div class="class card-quiz-outside col-12" type="button">
                        <div class="card-quiz col-12">
                            <div class="row">
                                <div class="col float-left">
                                    <h3>
                                        Descripcion
                                        <i class="bi bi-pen" style="color: #ff3078"></i>
                                        <div class="hr-description"></div>
                                    </h3>
                                    <input class="mb-5" type="text" placeholder="descripcion" style="width: 100%" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-5 mt-5">
                <div class="row mb-5 nt-5">
                    <div class="col text-left">
                        <h3>
                            Secuencia de preguntas
                            <i class="bi bi-pen" style="color: #ff3078"></i>
                        </h3>
                    </div>

                    <div class="col text-right">
                        <h3 (click)="createComponent()">
                            Añadir pregunta / crear componente
                            <i class="bi bi-plus-circle" style="color: #ff3078"></i>
                        </h3>
                    </div>
                </div>
                <div class="">
                    <ng-template #infoDePreguntas></ng-template>
                </div>
                <!-- <div class="col text-center mt-5 ">
                    <h3 (click)="eliminarUnaPregunta()" class="btn btn-warning"> Eliminar pregunta <i class="bi bi-dash-circle" style="color: #FF3078; "></i></h3>
                </div> -->
                <div class="text-center mb-3 mr-3" (click)="guardarQuizz()">
                    <div class="btn btn-danger">Guardar preguntas</div>
                </div>
                <!-- <div class="text-center mb-3 mr-3" (click)="verPreguntas()">
                    <div class="btn btn-danger">Ver array de preguntas</div>
                </div> -->
            </div>
        </div>
    </div>
</div>