#profile-img {
    width: 150px;
    border-radius: 50%;
}

.hr {
    border-radius: 10%;
    border: 3px solid #A36CD9;
    background-color: #A36CD9;
    opacity: .8;
    width: 25%;
}

.hr-description {
    margin-top: 5px;
    border-radius: 15%;
    border: 3px solid #09F62F;
    background-color: #09F62F;
    opacity: .8;
    width: 10%;
}

.quiz-title {
    margin-top: 25px;
    margin-bottom: -15px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
}

.quizzes {
    margin-top: -280px;
}

.card-quiz-border {
    text-align: left;
    border-radius: 10px;
    /* clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%); */
}

.card-quiz {
    border-radius: 10px;
    margin: 0px;
    text-align: left;
    background-color: white;
    height: auto;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    /* clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%); */
}

.card-quiz h3 {
    margin-left: 25px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #212529;
    margin-bottom: 60px;
    margin-top: 30px;
}

.card-quiz p {
    margin-left: 25px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #212529;
}

.icons-quiz {
    margin-top: 50px;
}

.icons-quiz i {
    margin-left: 12px;
    margin-right: 12px;
}

.ordenar-quiz {
    text-align: left;
    border: 1px solid #000000;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.ordenar-quiz h5 {
    margin-top: 10px;
    margin-left: 10px;
}

ul {
    list-style: none;
}

ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul li i {
    color: #A36CD9;
    margin-right: 10px;
}

@media screen and (max-width:375px) {
    .quizzes {
        margin-top: 0px;
    }
    .card-quiz h3 {
        font-size: 18px;
    }
    .card-quiz p {
        font-size: 16px;
    }
    .hr-description {
        border-radius: 10%;
        opacity: .8;
        width: 50%;
        margin-bottom: -40px;
    }
    .edit-profile div span h1 {
        font-size: 22px;
    }
    #profile-img {
        width: 120px;
        border-radius: 50%;
    }
}

@media screen and (min-width:375px) and (max-width:425px) {
    .quizzes {
        margin-top: 0px;
    }
    .card-quiz h3 {
        font-size: 22px;
    }
    .card-quiz p {
        font-size: 18px;
    }
    .hr-description {
        border-radius: 10%;
        opacity: .8;
        width: 40%;
        margin-bottom: -40px;
    }
    .edit-profile div span h1 {
        font-size: 22px;
    }
    #profile-img {
        width: 120px;
        border-radius: 50%;
    }
}

@media screen and (min-width:430px) and (max-width:770px) {
    .card-quiz h3 {
        font-size: 22px;
    }
    .card-quiz p {
        font-size: 18px;
    }
    .hr-description {
        border-radius: 10%;
        opacity: .8;
        width: 20%;
        margin-bottom: -40px;
    }
    .edit-profile div span h1 {
        font-size: 22px;
    }
    #profile-img {
        width: 120px;
        border-radius: 50%;
    }
}

@media screen and (min-width:770px) and (max-width:1050px) {
    .quizzes {
        margin-top: -320px;
    }
    .hr-description {
        border-radius: 10%;
        opacity: .8;
        width: 15%;
        margin-bottom: -40px;
    }
    .edit-profile div span h1 {
        font-size: 26px;
    }
}