
<nav class="navbar  bg-white " style="max-height:86px">
  <div class="container-fluid">
    
    <div  class="row align-items-center w-100">
      <div class="col d-flex justify-content-start">
      
        <a routerLink="/home" >
          <img class="__logo logo-triviahk" src="assets\svgs\Logo Fondo Blanco.svg" alt="">
        </a>

      </div>
      <div class="col d-flex justify-content-center"  *ngIf="!esLobby">
        <h2 style="margin: 0%;" *ngIf="!esPodio && tiempoPreguntasSeg != 0" class="time-question">{{ tiempoPreguntasSeg}}</h2>
        <h2 style="margin: 0%;" *ngIf="!esPodio && tiempoPreguntasSeg == 0" class="time-question">Tiempo Finalizado</h2>
      </div>
        
      <div class="col d-flex justify-content-end">
        <a class="btn" (click)="salirYBorrarPartida()">
          <img
          src="assets\svgs\salirDePartida.svg"
          alt="" />
        </a>
      </div>        
    </div>
    
  </div>
</nav>
