<div [class] = "color">
    a
</div>
<div class="principal">
    <p class="titulo">Card Title</p>
    <div class="rectangulo"></div>
    <p class="descripcion">Some quick example text to build on the card title and make up the bulk of.</p>
    <div class="bottom-card">
        <p class="chico">A {{partida?.cantSesiones}}</p>
        <p class="chico">? {{partida?.cantPreguntas}}</p>
        <p class="chico">U {{partida?.promedioAciertos}}%</p>
    </div>
</div>

snake case con _
camel case, arranco con minuscula y por palabra pongo mayuscula