<app-navbar></app-navbar>
<div class="container">
  <div class="text-center">
    <h1>PARA ORGANIZARSE CON LAS RUTAS</h1>
  </div>
  <div class="row d-flex justify-content-center">
    <div
      class="col-4 m-1 p-1 btn btn-primary"
      routerLink="/partida/lobby/1">
      Ir a lobby / id
    </div>
    <div
      class="col-4 m-1 p-1 btn btn-primary"
      routerLink="/partida/single-choice">
      Ir single choice
    </div>
    <div
      class="col-4 m-1 p-1 btn btn-primary"
      routerLink="/partida/multiple-choice">
      Ir a multiple choice
    </div>
    <div
      class="col-4 m-1 p-1 btn btn-primary"
      routerLink="/partida/podio">
      Ir al podio
    </div>
    <div
      class="col-4 m-1 p-1 btn btn-primary"
      routerLink="/partida/ranking">
      Ir al ranking
    </div>
    <div
      class="col-4 m-1 p-1 btn btn-primary"
      routerLink="/partida/opciones">
      Ir al opciones
    </div>
  </div>
</div>
