<div
  class="container"
  [@onLoadAnimation]>
  <div class="row d-flex justify-content-center">
    <!-- Titulo de la página -->
    <div class="subtitulo col-md-9 mt-5">
      <h2>Crear Trivia</h2>
      <hr />
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <!-- <div class="col-2 mt-5" style="background-color: rgba(113, 97, 239, 1); border-radius: 15px;"></div> -->
    <div class="col-md-8 mt-5 mb-5">
      <!-- Form para titulo y descripcion -->
      <form
        [formGroup]="triviaForm"
        class="text-center">
        <div class="mt-2 mb-2">
          <input
            type="text"
            maxlength="25"
            class="form-control"
            formControlName="nombre"
            placeholder="Nombre de Trivia" />
          <div
            *ngIf="
              triviaForm.controls['nombre'].errors &&
              triviaForm.controls['nombre'].touched
            "
            class="alert alert-danger mt-1"
            role="alert">
            <small>Es requerido el nombre</small>
          </div>
        </div>
        <div class="mt-2 mb-2">
          <input
            type="text"
            maxlength="200"
            class="form-control"
            formControlName="descripcion"
            placeholder="Descripcion de Trivia" />
          <div
            *ngIf="
              triviaForm.controls['descripcion'].errors &&
              triviaForm.controls['descripcion'].touched
            "
            class="alert alert-danger my-2"
            role="alert">
            <small>Es requerido la descripción</small>
          </div>
        </div>

        <!-- Boton para añadir pregunta -->
        <button
          class="btn col-12 mt-3 p-2"
          (click)="agregarPregunta()"
          style="background-color: #fd999b; color: white">
          Agregar Pregunta
        </button>

        <!-- Form para preguntas del quiz-->
        <!-- <div class="text-center mt-3 ">
            <h5 *ngIf="preguntas().controls.length == 0"><strong>No hay preguntas</strong></h5>
          </div> -->
        <div
          [hidden]="preguntas().controls.length == 0"
          formArrayName="preguntas">
          <div
            *ngFor="let pregunta of preguntas().controls; let indexPreg = index"
            [@onLoadAnimation]>
            <div [formGroupName]="indexPreg">
              <div class="mb-3 mt-5">
                <h4 style="font-weight: bold">
                  Pregunta N°{{ indexPreg + 1 }}
                </h4>
              </div>
              <div class="mt-2 mb-2">
                <input
                  type="text"
                  maxlength="100"
                  class="form-control"
                  formControlName="leyenda"
                  placeholder="Leyenda" />
              </div>
              <div
                *ngIf="
                  pregunta.get('leyenda')?.errors &&
                  pregunta.get('leyenda')?.touched
                "
                class="alert alert-danger mt-1"
                role="alert">
                <small>Es requerida una leyenda</small>
              </div>
              <div class="mt-3 mb-2">
                <select
                  formControlName="tipoDePregunta"
                  class="form-select">
                  <option
                    disabled
                    value="">
                    Seleccione el tipo de pregunta
                  </option>
                  <option [value]="tipo" *ngFor="let tipo of tipoDePregunta ">
                    {{ tipo | tipoDePregunta}}
                  </option>
                </select>
              </div>
              <div
                *ngIf="
                  pregunta.get('tipoDePregunta')?.errors &&
                  pregunta.get('tipoDePregunta')?.touched
                "
                class="alert alert-danger mt-1"
                role="alert">
                <small>Debe seleccionar un tipo de pregunta</small>
              </div>

              <div class="row d-flex justify-content-center mt-4">
                <div
                  class="row d-flex justify-content-between align-items-center">
                  <!-- Boton para añadir una opcion a la pregunta -->
                  <div
                    class="col-sm-9 btn my1 p-2"
                    (click)="agregarOpcion(indexPreg)"
                    style="background-color: #fd999b; color: white">
                    Agregar Opción
                  </div>
                  <!-- Boton para eliminar pregunta -->
                  <div
                    class="col-sm-2 btn my-1 p-2"
                    (click)="eliminarPregunta(indexPreg)"
                    style="background-color: #ff5c95; color: white">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-trash3"
                      viewBox="0 0 16 16">
                      <path
                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                    </svg>
                  </div>
                </div>
              </div>

              <!-- <div class="text-center mt-2 mb-2">
                  <h5 *ngIf="opciones(indexPreg).controls.length == 0"><strong>No hay opciones</strong></h5>
                </div> -->

              <!-- Form para opciones de las preguntas del quiz-->
              <div formArrayName="opciones">
                <div
                  [@onLoadAnimation]
                  *ngFor="
                    let opcion of opciones(indexPreg).controls;
                    let indexOpc = index
                  ">
                  <div class="mb-3 mt-5">
                    <h4 style="font-weight: bold">
                      Opción N°{{ indexOpc + 1 }}
                    </h4>
                  </div>

                  <div class="row d-flex justify-content-center mt-4">
                    <div
                      [formGroupName]="indexOpc"
                      class="col-12">
                      <div class="mt-2 mb-2">
                        <input
                          type="text"
                          maxlength="50"
                          class="form-control"
                          formControlName="descripcion"
                          placeholder="Descripcion" />
                      </div>
                      <div
                        *ngIf="
                          opcion.get('descripcion')?.errors &&
                          opcion.get('descripcion')?.touched
                        "
                        class="alert alert-danger mt-1"
                        role="alert">
                        <small>Es requerida una descripcion</small>
                      </div>
                      <div class="mt-3 mb-2">
                        <select
                          formControlName="esCorrecta"
                          class="form-select">
                          <option
                            disabled
                            selected="selected">
                            Seleccione si es correcta o no
                          </option>
                          <option [ngValue]="true">Correcta</option>
                          <option [ngValue]="false">Incorrecta</option>
                        </select>
                      </div>
                      <div
                        *ngIf="
                          opcion.get('esCorrecta')?.errors &&
                          opcion.get('esCorrecta')?.touched
                        "
                        class="alert alert-danger mt-1"
                        role="alert">
                        <small>Debe seleccionar si es correcta</small>
                      </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                      <!-- Boton para eliminar opcion -->
                      <div
                        class="col-sm-2 btn my-1 p-2"
                        (click)="eliminarOpcion(indexPreg, indexOpc)"
                        style="background-color: #ff5c95; color: white">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-trash3"
                          viewBox="0 0 16 16">
                          <path
                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="mt-3 mb-2" style="background-color: rgba(253, 153, 155, 1); height: 2px;"></div> -->
          </div>
        </div>

        <!-- Boton para crear trivia-->
        <button
          class="btn col-6 mt-5 mb-4 p-2"
          (click)="crearTrivia()"
          [disabled]="triviaForm.invalid"
          style="background-color: #7161ef; color: white">
          Crear Trivia
        </button>
      </form>
    </div>
  </div>
</div>
<!-- flotante agregar pregunta -->

<div
class="container"
[@onLoadAnimation]
*ngIf="preguntas().controls.length >= 1">
<div
  class="btn float__addpregunta"
  (click)="toggleFlip()">
  <fa-icon
    class="__fa-icon"
    [icon]="faClipboardQuestion">
  </fa-icon>
  <span class="ml-1"
    type="button"
    [@flipRigthAnimation]="flip.status">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
      <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
    </svg>

  </span>
  <span
    class="text-center"
    [hidden]="flip.status === 'inactive'">
    <span> | </span>
    <span (click)="agregarPregunta()"> Agregar Pregunta </span>
  </span>
</div>
</div>
