input, select, .btn, .alert{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.11);
  font-size: 1.6rem;
}

.alert{
  margin: 1%;
}

.float__addpregunta{
  text-align: center;
  position: fixed;
  left: 20px;
  bottom: 20px;
  align-items: center;
  justify-content: center;
  background-color: #FD999B;
  font-size: 20px;
  color: white;
  transition: all 300ms ease;
}
.float__addpregunta:hover{
  animation: bounce-down 1.5s linear infinite;
  background-color: #FD999B;
  color: white;
  opacity: .8;
}


@media screen and (max-width:768px) {
  .float__addpregunta{
    left: 15px;
    bottom: 15px;
  }
}

@keyframes bounce-down {
  25% {
       transform: translateY(-4px);
  }
  50%, 100% {
       transform: translateY(0);
  }
  75% {
       transform: translateY(4px);
  }
}
