<div class="container">
  <div class="row d-flex justify-content-center">
        <!-- Titulo de la página -->
        <div class="misPartidas col-9 mt-5 ml-5">
          <h2 style="font-weight: bold">Editar Trivia</h2>
          <hr />
        </div>
  </div>


  <div class="row d-flex justify-content-center">
    <!-- <div class="col-2 mt-5" style="background-color: rgba(113, 97, 239, 1); border-radius: 15px;"></div> -->
    <div class="col-8 mt-5 mb-5">
      <!-- Form para titulo y descripcion -->
      <form [formGroup]="editarTriviaForm" class="text-center">
        <div class="mt-2 mb-2">
          <div class="my-4 text-left">
            <h4 style="font-weight: bold">{{trivia?._nombre }}</h4>
          </div>
          <input type="text" class="form-control" formControlName="nombreEditar" placeholder="Nombre: {{trivia?._nombre }}"/>
        </div>
        <div class="mt-2 mb-2">
          <input type="text" class="form-control" formControlName="descripcionEditar" placeholder="Descripcion: {{trivia?._descripcion }}"/>
        </div>

        <button *ngIf="!mostrarPreguntas" class="btn col-md-12 mt-3 p-2" (click)="verPreguntasEditar()"
        style="background-color:#FD999B; color: white;" >
        Ver preguntas
        </button>
        <button *ngIf="mostrarPreguntas" class="btn col-md-12 mt-3 p-2" (click)="ocultarPreguntasEditar()"
        style="background-color:#7161EF; color: white;" >
        Ocultar preguntas
        </button>

        <div [hidden]="preguntasEditar().controls.length == 0"  *ngFor="let preg of trivia._preguntas" class="my-4" >
          <div class="my-4 text-left">
            <h4 style="font-weight: bold;">Pregunta: {{preg._leyenda}}</h4>
          </div>

          <div  class="row d-flex justify-content-between" >
            <div class="col-md-6">
              <input type="text" class="form-control"placeholder="Leyenda:{{preg._leyenda}}"/>
            </div>

            <div class="col-md-6">
              <!-- <input type="text" class="form-control"  placeholder="Tipo: {{preg.tipoDePregunta}}"/> -->
              <select  class="form-select" >
                <option  selected disabled value=""> Tipo: {{preg.tipoDePregunta}}</option>
                <option *ngFor="let tipo of tipoDePregunta">{{ tipo }}</option>
              </select>
            </div>
          </div>

        <div class="my-3 text-left">
          <h4 style="font-weight: bold;">Opciones:</h4>
        </div>
          <div *ngFor="let opcion of preg._opciones" >
          <div class="my-3 text-left">
            <h6 style="font-weight: bold;">{{opcion._descripcion}}</h6>
          </div>
           <div class="row d-flex justify-content-between" >
                <div class="col-md-6">
                  <input type="text" class="form-control"  placeholder="Descripcion: {{opcion._descripcion}}"/>
                </div>
                <div class="col-md-6">
                  <select  class="form-select" >
                    <option disabled selected> Es correcta: {{opcion._esCorrecta}}</option>
                    <option value="true">Correcta</option>
                    <option value="false">Incorrecta</option>
                  </select>
                </div>
              </div>
          </div>


        </div>

        <!-- Boton para crear trivia-->
        <button class="btn col-6 mt-5 mb-4 p-2" (click)="editarTrivia()"
        style="background-color: #7161EF;color: white;"
        >
          VER DATOS
        </button>


        <button class="btn col-6 mt-5 mb-4 p-2" (click)="editarTrivia()" [disabled]="editarTriviaForm.invalid"
        style="background-color: #7161EF;color: white;"
        >
          Editar y Guardar Trivia
        </button>
      </form>

      <!-- VISUALIZACION DE TODOS LOS DATOS-->
      <!-- <pre>{{ triviaForm.value | json }}</pre> -->
    </div>
  </div>
</div>






