<div class="bgr">

      <section class="loading" id="sum" >
             
                <div class="loader">
                  <img src="assets\logo-animation-loading.svg" class="imagen">
                      <div class="face face1">
                          <div class="circle"></div>
                      </div>
                      <div class="face face2">
                          <div class="circle"></div>
                      </div>
                  </div>
            
  
      </section>
    
</div>
