<div class="container" *ngIf="!viewResult">
    <div class="text-center">
        <h1>Descripcion: {{ currentQuiz?.description }}</h1>
        <h1>PaginationId: {{ paginationId + 1 }}</h1>
        <h1>CurrentQuiz.preguntas.length: {{ currentQuiz.preguntas.length }}</h1>
        <h1>TIMER:(Solo cuenta){{ tiempo.counter }}</h1>
    </div>
    <div class="text-center">
        <h2>
            Pregunta Nº{{ paginationId + 1 }}: {{ currentQuiz?.preguntas[paginationId].descripcion }}
        </h2>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-3 text-center card btn" (click)="
        checkAnswer(respuestas.isCorrect, respuestas.puntos, i); nextQuestion()
      " *ngFor="
        let respuestas of currentQuiz.preguntas[paginationId].respuestas;
        let i = index
      ">
            <span>Respuesta: {{ respuestas.respuesta }} </span>
            <span>Es la correcta: {{ respuestas.isCorrect }}</span>
            <span>Puntos: {{ respuestas.puntos }} </span>
        </div>
    </div>
</div>
<hr />
<!-- <div class="container">
    <div class="text-center" *ngIf="!finished; else elseContent">
        <div class="btn btn-success" (click)="prevQuestion()">
            Anterior
        </div>
        <div class="btn btn-success" (click)="nextQuestion()">
            Siguiente
        </div>
    </div>
    <ng-template #elseContent>
        <div class="text-center" *ngIf="!viewResult">
            <div class="btn btn-danger" (click)="viewResults(); emitPoints()">
                Finalizar
            </div>
        </div>
    </ng-template>
</div> -->