<div class="bgr">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-3 text-center loading-icon wave">
        <h2>
          <span style="--item: 2">C</span>
          <span style="--item: 3">a</span>
          <span style="--item: 4">r</span>
          <span style="--item: 5">g</span>
          <span style="--item: 6">a</span>
          <span style="--item: 7">n</span>

          <span style="--item: 9">d</span>
          <span style="--item: 10">o</span>

          <span style="--item: 11; padding-left: 20px">.</span>
          <span style="--item: 12; padding-left: 8px">.</span>
          <span style="--item: 13; padding-left: 8px">.</span>
        </h2>
      </div>
    </div>
    <!-- <div class="row d-flex justify-content-center">
      <div class="col-sm-3 mt-4 text-center loading-text">
        <i
          class="bi bi-hourglass-split"
          style="font-size: 32px"></i>
      </div>
    </div> -->
  </div>
</div>
