.bgr {
  /* background: url("../../../assets/login-bg.jpeg") !important; */
  background-color:rgba(113, 97, 239, 1) !important;
  /* Center the image */
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

}
.loading-icon{
  color: white;
  position: absolute;
  top: 40%;
}
.loading-text{
  color: white;
  position: absolute;
  top: 40%;
}
/*
-----------
*/

.wave span {
  display: inline-block;
  animation: wave-anim 2s;
  animation-iteration-count: infinite;
  animation-delay: calc(0.1s * var(--item));
}

@keyframes wave-anim {

  0%,
  20%,
  40%,
  100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-20px);
  }
}
