<app-modal-borrar-trivia></app-modal-borrar-trivia>
<app-modal-mis-trivias></app-modal-mis-trivias>
<app-modal
  [modalPorAbrir]="'iniciarPartida'"
  [idTrivia]="idTrivia"></app-modal>

<div class="container" [@onLoadAnimation]>
  <div class="row d-flex justify-content-center">
    <!-- Titulo de la página -->
    <div class="misPartidas col-md-9 mt-5 ml-5">
      <h2 style="font-weight: bold">Informacion de la Trivia</h2>
      <hr />
    </div>
    <div class="col-md-8">
      <div class="row d-flex justify-content-center my-5">
        <div class="my-4">
          <h1>{{ trivia?._nombre }}</h1>
          <hr />
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row d-flex">
              <div class="col-md-8">
                <h4>Descripcion:</h4>
                <hr />
                <p>{{ trivia?._descripcion }}</p>
              </div>
              <div class="col-md-4 text-center">
                <h4>Estrellitas de rating</h4>
                <p>Id: {{ trivia?.id }}</p>
                <p>{{ trivia?._fechaCreacion | date }}</p>
                <p>{{ trivia?._creadoPor?._nombre }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center my-5">
        <div class="card">
          <div class="card-body">
            <div class="row d-flex">
              <div class="col">
                <h4>Preguntas:</h4>
                <hr />
                <div
                  *ngFor="let pregunta of preguntas; let i = index"
                  class="row d-flex">
                  <span class="col-10">
                    <h5>{{ pregunta._leyenda }}</h5>
                  </span>
                  <span
                    class="col-2 text-right arrow-down align-self-center"
                    (click)="toggleFlip(pregunta)"
                    [@flipAnimation]="pregunta?.flip">
                    <i
                      class="bi bi-caret-down-fill"
                      style="color: #4a51c9"
                      data-toggle="collapse"
                      [attr.href]="'#collapseExample'+pregunta.id"
                      ></i>
                  </span>

                  <div class="collapse" [attr.id]="'collapseExample'+pregunta.id">
                    <div
                    [@onLoadAnimation]>
                    <div
                      class="my-1 hidden"
                      *ngFor="let opc of trivia?._preguntas[i]._opciones">
                      <i
                        *ngIf="opc?._esCorrecta; else elseImg"
                        class="bi bi-x-circle-fill"
                        style="color: #058b3b">
                      </i>
                      {{ opc._descripcion }}
                      <ng-template #elseImg>
                        <i
                          class="bi bi-check-circle-fill"
                          style="color: #ff5c95">
                        </i>
                      </ng-template>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center my-5">
        <div
          class="row d-flex text-center btn col-sm-6"
          style="cursor: pointer; background-color: #4a51c9"
          data-bs-toggle="modal"
          data-bs-target="#modalGeneral">
          <div class="col-3 align-self-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="50"
              height="50"
              viewBox="0 0 50 50"
              fill="none">
              <rect
                x="8.57031"
                y="10"
                width="32.8571"
                height="28.5714"
                fill="#FCFCFC" />
              <path
                d="M50 25C50 38.8086 38.8086 50 25 50C11.1914 50 0 38.8086 0 25C0 11.1914 11.1914 0 25 0C38.8086 0 50 11.1914 50 25ZM18.3887 14.3652C17.6465 14.7754 17.1875 15.5664 17.1875 16.4062V33.5938C17.1875 34.4434 17.6465 35.2246 18.3887 35.6348C19.1309 36.0449 20.0293 36.0352 20.7617 35.5859L34.8242 26.9922C35.5176 26.5625 35.9473 25.8105 35.9473 24.9902C35.9473 24.1699 35.5176 23.418 34.8242 22.9883L20.7617 14.3945C20.0391 13.9551 19.1309 13.9355 18.3887 14.3457V14.3652Z"
                fill="#FD999B" />
            </svg>
          </div>
          <div
            class="col-9 align-self-center"
            style="color: white">
            Iniciar partida
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
