<div *ngIf="!finDePartida ">
  <app-partida-navbar></app-partida-navbar>
<div
  class="bg row d-flex justify-content-center"
  [@onLoadAnimation]>

  <div
    *esHost="{ idPartida: paramsId, renderContentUser: false }"
    class="container d-flex justify-content-end">
    <div class="d-flex align-items-center">
      <button
      *ngIf="inicioPartida"
        class="btn btn_iniciar_partida mt-4"
        [disabled]="!habilitarBtnPregunta"
        (click)="mostrarSiguientePreg()" >
        Mostrar siguiente pregunta
      </button>
    </div>
  </div>

  <div *ngIf="habilitarBtnPregunta && inicioPartida && !finDePartida">
    <app-ranking
    [partidaResultadosPrevios]="partidaResultadosPrevios"
    ></app-ranking>
  </div>
  <div *ngIf="!habilitarBtnPregunta && !finDePartida">
    <app-pregunta
      *ngIf="tengoTriviaYOpciones"
      [pregunta]="preguntaActual._leyenda"></app-pregunta>
    <app-opciones
      *ngIf="tengoTriviaYOpciones"
      [pregunta]="preguntaActual"></app-opciones>
  </div>
</div>
</div>

<div *ngIf="finDePartida ">
  <app-podio
  [partidaResultadosFinales]="partidaResultadosFinales"
  ></app-podio>
</div>
