<div *ngIf="!finDePartida">
  <app-partida-navbar
    (tiempoPreguntasSeg)="(this.tiempoPreguntasSeg)"></app-partida-navbar>

  <div *esHost="{idPartida,renderContentUser: true}; sino esUsuario">
    <div class="container d-flex justify-content-end">
      <div class="d-flex align-items-center">
        <div><h1>soy host</h1></div>
        <button
          *ngIf="inicioPartida"
          class="btn btn_iniciar_partida mt-4"
          [disabled]="!habilitarBtnPregunta"
          (click)="mostrarSiguientePreg()">
          Mostrar siguiente pregunta
        </button>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="this.resultados$ | async as resultados">
  <div *ngIf="resultados.length > 0 else mostrarPregunta"
      class="bg row d-flex justify-content-center"
      [@onLoadAnimation]>
    <app-ranking [partidaResultadosPrevios]="resultados"></app-ranking>
  </div>
</ng-container>

<ng-template #mostrarPregunta>
  <div *ngIf="finDePartida else pregunta">
    <app-podio [partidaResultadosFinales]="partidaResultadosFinales"></app-podio>
  </div>
  <ng-template #pregunta>
    <div
      class="bg row d-flex justify-content-center"
      [@onLoadAnimation]>
      <app-pregunta [pregunta]="preguntaActual._leyenda"></app-pregunta>
      <h3>{{ preguntaActual.tipoDePregunta | json }}</h3>
      <app-opciones
        [pregunta]="preguntaActual"
        (opcSeleccionadasEmit)="obtenerOpcSelectDeChild($event)"></app-opciones>
      <button
        class="btn btn-primary"
        (click)="responder()"
        [disabled]="!opcionesSeleccionadas">
        Responder
      </button>
    </div>
  </ng-template>
</ng-template>

<ng-template #esUsuario>
</ng-template>
<!--
  <ng-template #esUsuario>
  <div
    class="bg row d-flex justify-content-center"
    [@onLoadAnimation]>

    <div *ngIf="habilitarBtnPregunta && inicioPartida && !finDePartida">
      <app-ranking
        [partidaResultadosPrevios]="partidaResultadosPrevios"></app-ranking>
    </div>
    <div *ngIf="!habilitarBtnPregunta && !finDePartida">
      <app-pregunta
        *ngIf="tengoTriviaYOpciones"
        [pregunta]="preguntaActual._leyenda"></app-pregunta>
      <app-opciones
        *ngIf="tengoTriviaYOpciones"
        [pregunta]="preguntaActual"></app-opciones>
    </div>
  </div>
</ng-template>
 -->
