
<div class="container" style="overflow: auto;">
    <div class="row">
        <div class="col mb-5">
            <div class="edit-profile mt-4">
                <div class="text-center">
                    <span><h1>Editar perfil</h1></span>
                </div>
                <div class="text-center">
                    <div class="hr mt-2"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 ">
            <div class="profile-info ">
                <div class="text-center mb-2">
                    <img src="https://i.pinimg.com/736x/1c/b3/77/1cb37778107856d56e05d378db46eda9.jpg" alt="" class="d-inline-block" id="profile-img">
                </div>
                <div class="text-center">
                    <span>Nombre de usuario</span>
                </div>
                <div class="text-center">
                    <span>Codigo de usuario</span>
                </div>
                <div class="text-center">
                    <span>Otros datos</span>
                </div>
                <div class="text-center">
                    <span>Otros datos diferentes</span>
                </div>

            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="action-buttons  mt-3">
                <div class="saveChanges ">
                    <button class="btn btn-danger mt-3" routerLink="/user/settings">Editar perfil</button>
                </div>
                <div class="saveChanges ">
                    <button class="btn btn-danger mt-3" routerLink="/user/password">Cambiar contraseña</button>
                </div>
                <div class="saveChanges ">
                    <button class="btn btn-danger mt-3" routerLink="/user/quizzes">Ir a mis quizzes</button>
                </div>
            </div>

        </div>

    </div>


</div>