<div class="lobby container mx-auto">
  <div *appEsHost>asdasd</div>
  <div class="lobby-data bg-primary d-flex justify-content-center px-5">
    <div class="data__usuarios">
      <fa-icon [icon]="faUsers" class="data__usuarios--icon"></fa-icon>
      <br />
      <p>9</p>
    </div>
    <div class="data__pin">
      <small>Codigo de la sala</small>
      <br />
      <b>50273</b>
    </div>
  </div>
  <div class="usuarios-container row">
    <div
      class="col-4 my-3"
      *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]"
    >
      <app-user-card></app-user-card>
    </div>
  </div>
</div>
