.lobby-data{
  text-align: center;
  color: white;
  .data__pin{
    small{
      font-size: 45px;
      font-weight: 100;
    }
    b{
      font-size: 65px;
    }
  }
  .data__usuarios{
    p{
      font-size: 65px;
    }
    fa-icon{
      font-size: 45px
    }
  }
  .data__usuarios, .data__pin, .data__host{
    margin: 50px 120px 0px 120px ;
}
}



.btn_iniciar_partida {
  background-color: #fd999b;
  color: white;
}

.btn_iniciar_partida:hover {
  background-color: #da888a;
  color: white;
}
