<!-- Necesitamos angular 14+ para usar esto -->
<!-- <Particles id="tsparticles" [options]="options"></Particles> -->
<div class="bg">
  <div class="container">
    <div
      *ngIf="resultados.length >= 2"
      class="columna_podio"
      [@onGrowAnimation]="{ value: ':enter', params: { time: '1250ms' } }">
      <div class="ranking_podio segundo">
        <div class="row d-flex text-center">
          <div class="text-center">
            <fa-icon
              [icon]="faMedal"
              [styles]="{
                height: '60px',
                width: '60px',
                color: '#BFC0C0'
              }"></fa-icon>
          </div>
          <div class="puntaje">{{ resultados[1].puntajeTotal }}</div>
          <div class="usuario">{{ resultados[1].nombre }}</div>
        </div>
      </div>
    </div>
    <div
      *ngIf="resultados.length > 0"
      class="columna_podio"
      [@onGrowAnimation]="{ value: ':enter', params: { time: '1750ms' } }">
      <div class="text-center">
        <img
          class="imagen_primer_lugar"
          src="assets\images\primer-lugar.png"
          alt="primer-lugar" />
      </div>
      <div class="ranking_podio primero">
        <div class="row d-flex text-center">
          <div class="puntaje">{{ resultados[0].puntajeTotal }}</div>
          <div class="usuario">{{ resultados[0].usuario.nombre }}</div>
        </div>
      </div>
    </div>
    <div
      *ngIf="resultados.length >= 3"
      class="columna_podio"
      [@onGrowAnimation]="{ value: ':enter', params: { time: '750ms' } }">
      <div class="ranking_podio tercero">
        <div class="row d-flex text-center">
          <div
            class="btn text-center"
            routerLink="/main/home"
            style="
              background-color: #fd999b;
              position: absolute;
              top: 20px;
              right: 20px;
              color: white;
              width: 8rem;
              height: 2.5rem;
            ">
            <i
              class="bi bi-door-open"
              routerLink="/main/home">
              Finalizar
            </i>
          </div>
          <div class="text-center">
            <fa-icon
              [icon]="faMedal"
              [styles]="{
                height: '60px',
                width: '60px',
                color: '#CD7F32'
              }"></fa-icon>
          </div>
          <div class="puntaje">{{ resultados[2].puntajeTotal }}</div>
          <div class="usuario">{{ resultados[2].nombre }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
