<!-- <div class="row d-flex justify-content-center mt-5">
    <div class="col-6 text-center">
      <button (click)="iniciarPartida()">Iniciar partida</button>
      <br />
      <input
        type="number"
        #usuario
        placeholder="Id del usuario" />
      <input
        type="number"
        #partida
        placeholder="Id de partida" />
      <button (click)="unirse(usuario.value, partida.value)">Unirse</button>
      <button (click)="salirse()">salirse</button>
      <br />
      <button (click)="mostrarSiguientePregunta()">Siguiente pregunta</button>

      <p>{{ trivia | json }}</p>
    </div>
  </div> -->
<div
  style="background-color: #ffb1b5"
  class="pt-2 pb-5">
  <div class="container">
    <div class="row d-flex justify-content-center cards">
      <div
        class="col-sm-4 btn"
        style="border: none">
        <div
          class="homeBtns wave"
          routerLink="/main/crear-trivia">
          <i class="bi bi-plus">
            <span style="--item: 1">C</span>
            <span style="--item: 2">r</span>
            <span style="--item: 3">e</span>
            <span style="--item: 4">a</span>
            <span style="--item: 5">r</span>
            <span class="ml-2"></span>
            <span style="--item: 6">T</span>
            <span style="--item: 7">r</span>
            <span style="--item: 8">i</span>
            <span style="--item: 9">v</span>
            <span style="--item: 10">i</span>
            <span style="--item: 11">a</span>
          </i>
        </div>
      </div>

      <div
        class="col-sm-4 btn"
        style="border: none">
        <div
          class="homeBtns wave"
          routerLink="/main/mis-trivias">
          <i class="bi bi-controller">
            <span style="--item: 1">C</span>
            <span style="--item: 2">r</span>
            <span style="--item: 3">e</span>
            <span style="--item: 4">a</span>
            <span style="--item: 5">r</span>
            <span class="ml-2"></span>
            <span style="--item: 6">P</span>
            <span style="--item: 7">a</span>
            <span style="--item: 8">r</span>
            <span style="--item: 9">t</span>
            <span style="--item: 10">i</span>
            <span style="--item: 11">d</span>
            <span style="--item: 12">a</span>
          </i>
        </div>
      </div>
      <div
        class="col-sm-8 btn mt-2"
        style="border: none"
        data-bs-toggle="modal"
        data-bs-target="#modalGeneral">
        <div class="homeBtns wave">
          <i class="bi bi-door-open">
            <span style="--item: 1">I</span>
            <span style="--item: 2">n</span>
            <span style="--item: 3">g</span>
            <span style="--item: 4">r</span>
            <span style="--item: 5">e</span>
            <span style="--item: 6">s</span>
            <span style="--item: 7">a</span>
            <span style="--item: 8">r</span>
          </i>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal [modalPorAbrir]="'ingresarPartida'"></app-modal>

<div class="container">
  <div class="row">
    <div class="actividades">
      <p>Actividades Recientes</p>
      <hr />
    </div>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div
      class="col-lg-3 mb-3 mt-3"
      *ngFor="let trivia of trivias | slice: offset:limit; let i = index">
      <div
        class="card card-top"
        style="background-color: #4a51c9"></div>
      <!-- <div class="card card-top"
        [ngStyle]="{ backgroundColor: getColor(i) }"></div> -->
      <div class="card-quiz-outside"
      (click)="irVerTrivia(trivia.id)"
      style="cursor: pointer;">
        <div class="card card-quiz">
          <h3>{{ trivia._nombre }}</h3>
          <h4>Id: {{ trivia.id }}</h4>
          <h4>{{ trivia._fechaCreacion | date }}</h4>
          <h5>{{ trivia._creadoPor?._nombre }}</h5>
          <p *ngIf="trivia._descripcion; else noDescp">
            {{ trivia._descripcion | slice: 0:50 }}
          </p>
          <ng-template #noDescp> Sin descripcion </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-4 mb-5">
    <div
      (click)="prevQuiz()"
      class="btn btn-prev col-md-2 m-3">
      <i
        class="bi bi-arrow-left"
        style="font-style: inherit"
        >Prev</i
      >
    </div>
    <div
      (click)="nextQuiz()"
      class="btn btn-next col-md-2 m-3">
      <i
        class="bi bi-arrow-right"
        style="font-style: inherit"
        >Next</i
      >
    </div>
  </div>
</div>
