.cards {
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  /* or 45px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
}

.homeBtns {
  text-align: center;
  background-color: #fd999b;
  color: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 300ms ease;
}

.homeBtns:hover {
  background-color: rgba(253, 153, 155, 0.5);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

i {
  font-style: inherit;
  font-weight: bold;
  font-size: 24px;
}

.card-quiz {
  padding-top: 30px;
  margin: 3px;
  background-color: white;
  text-align: center;
}


.card-quiz h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #212529;
  margin-bottom: 60px;
  margin-top: 30px;
}

.card-quiz p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #212529;
}

.btn-prev,
.btn-next {
  color: white;
  background: rgba(113, 97, 239, 1);
  border: 2px;
  border-radius: 20px;
  width: 50px;
  padding: 5px;
  transition: all 300ms;
}
.btn-prev:hover,
.btn-next:hover {
  background: rgba(113, 97, 239, 0.5);
  border: 2px;
  color: white;
}

.actividades p {
  margin-top: 30px;

  font-weight: 700;
  font-size: 30px;
}

.actividades hr {
  display: flex;
  width: 10%;
  align-items: flex-start;
  background: #7b61ff;
  border-radius: 30px;
  height: 10px;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .cards {
    margin-top: 50px;
    font-size: 24px;
  }
  .boton-crear .card-text {
    font-size: 22px;
  }
  .boton-ingresar .card-text {
    font-size: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .cards {
    margin-top: 50px;
    font-size: 24px;
  }
  .boton-crear .card-text {
    font-size: 22px;
  }
  .boton-ingresar .card-text {
    font-size: 22px;
  }
}

.card-header-background{
  background-color: #7161ef
}
/*
-----------
*/

.wave:hover span{
  display: inline-block;
  animation: wave-anim 2s;
  animation-iteration-count: infinite;
  animation-delay: calc(0.1s * var(--item));
}
@keyframes wave-anim{
  0%,20%,40%,100%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(-20px);
  }
}
