hr {
  display: flex;
  width: 10%;
  align-items: flex-start;
  background: #7B61FF;
  border-radius: 30px;
  height: 10px;
  opacity: 1;
}
.btn-prev,
.btn-next {
  color: white;
  background: #4a51c9;
  border: 2px;
  border-radius: 20px;
  width: 50px;
  padding: 5px;
  transition: all 300ms;
}
.btn-prev:hover,
.btn-next:hover {
  background: #7161ef80;
  border: 2px;
  color: white;
}

.ordenarPor div {
  border-radius: 10px;
  background-color: #FFB1B5;
  display: block;
  color: white;
}

.__descripcion {
  font-size: 1.5rem;
}
.__div_img_jugar{
  margin-top: 50%;
}
.__editar_trivia{
  margin-top: 0;

}

@media screen and (max-width:1200px) {
  .cards {
      margin-top: 50px;
      font-size: 24px;
  }
  .boton-crear .card-text {
      font-size: 22px;
  }
  .boton-ingresar .card-text {
      font-size: 22px;
  }
  .__div_img_jugar{
    margin-top: 0;
  }
}

@media screen and (min-width:1024px) {
  .cards {
      margin-top: 50px;
      font-size: 24px;
  }
  .boton-crear .card-text {
      font-size: 22px;
  }
  .boton-ingresar .card-text {
      font-size: 22px;
  }
}
