<div
  [@onLoadAnimation]
  class="wrapper"
  style="background-color: #ffb1b5">
  <div
    [@onLoadAnimation]
    class="row cards container mx-auto d-flex justify-content-center">
    <div
      class="col-lg-6 btn"
      style="border: none">
      <app-button-home
        [desc]="'Crear Trivia'"
        [route]="'/main/crear-trivia'"
        [icon]="faCreate"></app-button-home>
    </div>
    <div
      class="col-lg-6 btn"
      style="border: none">
      <app-button-home
        [desc]="'Crear Partida'"
        [route]="'/main/mis-trivias'"
        [icon]="faGamepad"></app-button-home>
    </div>
    <div
      class="col-sm-12 btn "
      style="border: none"
      data-bs-toggle="modal"
      data-bs-target="#modalGeneral">
      <app-button-home
        [desc]="'Ingresar con código'"
        [icon]="faKey"></app-button-home>
    </div>
  </div>
</div>

<app-modal [modalPorAbrir]="'ingresarPartida'"></app-modal>

<div class="container">
  <div class="actividades">
    <p>Actividades Recientes</p>
    <hr class="divisor" />
  </div>
  <div class="row d-flex justify-content-center">
    <div
      class="col-lg-3 mb-3 mt-3"
      *ngFor="let trivia of trivias | slice: offset:limit; let i = index">
      <div
        class="card card-decoration-body mb-3"
        [@onLoadAnimation]
        *ngIf="trivia"
        (click)="irVerTrivia(trivia.id)">
        <div class="card-header p-3">
          <h3 class="card-title trivia-nombre">{{ trivia._nombre }}</h3>
        </div>
        <div class="card-body">
          <p
            *ngIf="trivia._descripcion"
            class="trivia-descripcion">
            {{ trivia._descripcion }}
          </p>
          <p class="card-text text-muted">
            By {{ trivia._creadoPor?._nombre }}
          </p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <small class="text-muted">{{ trivia._fechaCreacion | date }}</small>
          <small class="text-muted">#{{ trivia.id }}</small>
        </div>
      </div>
    </div>
  </div>

  <div class="body-btn-next-prev d-flex justify-content-center mt-4 mb-4">
    <button
      class="btn btn-prev mx-3 d-flex align-items-center"
      (click)="prevQuiz()">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </button>
    <button
      (click)="nextQuiz()"
      class="btn btn-next mx-3">
      <fa-icon [icon]="faArrowRight"></fa-icon>
    </button>
  </div>
</div>
