<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="subtitulo col-md-9 mt-5">
      <h2>Mis Partidas</h2>
      <hr />
    </div>
    <div class="col-8">
      <div
        class="row d-flex justify-content-center my-5"
        *ngIf="!sinPartidas">
        <div class="my-4">
          <h1>Partida Actual</h1>
          <hr />
        </div>
        <div class="col mt-3 mb-3 text-center">
          <div
            class="row d-flex justify-content-center mb-5">
            <!-- Laterarl izquierda con color y play -->
            <div
              class="col-2 card align-self-stretch"
              style="background-color: #4a51c9">
            </div>
            <!-- Laterarl derecho con info trivia y editar -->
            <div
              class="col-10 card"
              style="cursor: pointer">
              <div class="p-2 d-flex row align-items-center justify-content-start">
                <div class="col-6 text-start">
                  <h2>Id de la partida: {{ partidaActual.id }}</h2>
                  <hr />
                </div>
                <div class="text-start __descripcion">
                  <h4>Info de la trivia:</h4>
                  <p>Id: {{ partidaActual._trivia.id }}</p>
                  <p>Nombre: {{ partidaActual._trivia._nombre }}</p>
                  <p>Descripción: {{ partidaActual._trivia._descripcion }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

