<app-partida-navbar></app-partida-navbar>
<div style="background-color: #4A51C9; min-height: 854px" [@onLoadAnimation]>
  <div *ngIf="sesiones$ | async as sesiones" class="lobby container mx-auto">
    <!--
      Manera de usar ng template para mostrar contenido exclusivo
      para el creador o el usuario
    -->
    <!-- <div *esHost="{idPartida, renderContentUser:true}; sino esUsuario">
      Sos creador
    </div>
    <ng-template #esUsuario>
      <div>Sos player</div>
    </ng-template> -->

    <div class="lobby-data d-flex justify-content-center px-5">
      <div class="data__usuarios">
        <fa-icon
          [icon]="faUsers"
          class="data__usuarios--icon"></fa-icon>
        <br />
        <p>{{ sesiones.length }}</p>
      </div>
      <div class="data__pin">
        <small>Codigo de la sala</small>
        <br />
        <b>{{ idPartida }}</b>
      </div>
      <!--
        Si queremos renderizar unicamente lo del creador
        y no definir el ng template para el user mandar
        renderContentUser: false
      -->
      <div
        *esHost="{idPartida,renderContentUser: true}; sino esUsuario"
        class="data__host">
        <button class="btn btn_iniciar_partida" (click)="iniciarPartida()" >Iniciar partida</button>
        <button
          class="btn btn_finalizar_lobby"
          (click)="finalizarLobby()">
          Finalizar lobby
        </button>
      </div>
      <ng-template
        #esUsuario
        class="data__player">
        <div class="data__player">
          <button
            class="btn btn_salirse"
            (click)="salirseLobby()">
            Salirse lobby
          </button>
        </div>
      </ng-template>
    </div>
    <div class="usuarios-container row">
      <div
        class="col-4 my-3"
        *ngFor="let sesion of sesiones">
        <app-user-card [sesion]="sesion"></app-user-card>
      </div>
    </div>
  </div>
</div>
