.body-lobby{
  position: absolute;
  width: 100%;
  background-color: #4A51C9;
   min-height: 850px;
   height:auto;
}
.container-data-lobby{
  margin-top: 4%;
 
  position: relative;   
  
}
.lobby-data {

    
  text-align: center;
  color: white;
  .data__pin {
    small {
      font-weight: lighter;
      font-size: 18px;
      line-height: 150%;
    }
    b {
      font-weight: 600;
      font-size: 50px;
      line-height: 150%;
    }
  }
  .data__usuarios {
    p {
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
    }
    fa-icon {
      font-size: 45px;
    }
  }
 
}

.data__host, .data__player {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.btn_iniciar_partida {
  background-color: #FD999B;
  color: white;
}

.btn_iniciar_partida:hover {
  background-color: #FFB1B5;
  color: white;
}
.btn_finalizar_lobby, .btn_salirse {
  background-color: #7161EF;
  color:  #ffffff;
}

.btn_finalizar_lobby:hover, .btn_salirse:hover {
  background-color: #ab75f1;
  color:  #ffffff;
}


@media (max-width: 576px) {
   
  .lobby-data {

    
   
    .data__pin {
     
      b {
        
        font-size: 32px;
        
      }
    }
    .data__usuarios {
      p {
        
        font-size: 20px;
      
      }
      fa-icon {
        font-size: 30px;
      }
    }
   
  }
  

}

