/* You can add global styles to this file, and also import other style files */

@import '~bootstrap-icons/font/bootstrap-icons.css';
html {
  overflow: auto;
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0 ;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

hr {
  display: flex;
  width: 10%;
  align-items: flex-start;
  background: #7b61ff;
  border: 0;
  border-radius: 30px;
  height: 10px;
  opacity: 1;
}
