<div class="card flex-row">
  <!-- <img
    class="card-img-left example-card-img-responsive"
    src="/postboot/assets/img/thumbnail.jpg"
  /> -->
  <div class="imagen d-flex align-items-center ml-3" style="width: 100px">
    <!-- <fa-icon [icon]="faUser" class=""></fa-icon>
     -->
    <img
      class="card-img-left"
      src="https://cdn-icons-png.flaticon.com/512/2919/2919600.png"
      style="width: 50%"
    />
  </div>
  <div class="card-body d-flex align-items-center">
    <h4 class="card-title h5 h4-sm">{{sesion.nombre}}</h4>
  </div>
</div>
