<div class="row d-flex justify-content-center mt-3">
  <div
    class="col-md-5"
    *ngFor="let opc of preguntaActual._opciones; let i = index">
    <div
      #opcion
      class="p-5 card mt-5 button-transition pointer"
      [ngClass]="{ selected: opcionesSeleccionadas.includes(opc) }"
      [ngStyle]="getColor(i)"
      (click)="selectOpc(opc)"
      style="color: white">
      <div class="card-body text-center">
        <h3>{{ opc._descripcion }}</h3>
      </div>
    </div>
  </div>
</div>
